//*******************//
// Colors
//*******************//

// Oranges
$color-orange: #d24600;
$color-orange-60: #f59261;
$color-orange-40: #fbd8c7;
$color-orange-20: #fef0e9;

// Blues
$color-blue: #0b485b;
$color-blue-60: #417a8c;
$color-blue-40: #ccdbe0;
$color-blue-20: #ebf2f3;

// Grays
$color-gray: #333;
$color-gray-60: #696969;
$color-gray-40: #ccc;
$color-gray-20: #f1f1f1;

// UI
$white: #fff;
$color-ui-blue-dark: #08457E;
$color-ui-blue-light: #2071a7;
$color-ui-green: #428503;
$color-ui-yellow: #ffa81b;
$color-ui-red: #dc2a2a;

// Secondary Colors
$color-yellow: #e9c64b;
$color-gold: #dfa147;
$color-burgundy: #863049;
$color-purple: #806ca3;
$color-teal: #6ac3c2;
$color-fern: #8eb974;

// Secondary Opacities
$color-opacity-75: 75%;
$color-opacity-50: 50%;
$color-opacity-20: 20%;
$color-opacity-10: 10%;