//*******************//
// Misc
//*******************//

// Icon Sizes
$icon-sm: 1rem;
$icon-md: 1.5rem;
$icon-lg: 2rem;

// Border Radius
$zoro-border-radius: 4px;

// Content Width
$content-width-medium: 625px;
$content-width-small: 474px;
