//*******************//
// Spacing
//*******************//

// Spacing Variables
$spacing-xx-jumbo: 4.5rem; // 72px
$spacing-x-jumbo: 4rem; // 64px
$spacing-jumbo: 3.5rem; // 56px

$spacing-xxx-large: 3rem; // 48px
$spacing-xx-large: 2.5rem; // 40px
$spacing-x-large: 2rem; // 32px

$spacing-large: 1.5rem; // 24px
$spacing-medium: 1rem; // 16px
$spacing-small: .75rem; // 12px

$spacing-x-small: .5rem; // 8px
$spacing-xx-small: .25rem; // 4px