//*******************//
// Typography
//*******************//

$body-size: 16px;
$body-line-height: 1.375;
$heading-line-height: 1.2;

$content-width-medium: 625px;
$content-width-small: 474px;

// Font Stack
$family-sans-serif:
  "Roboto",
  "Helvetica",
  BlinkMacSystemFont,
  -apple-system,
  "Segoe UI",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  "Arial",
  sans-serif;

// Font Sizes
$size-1: 2.25rem; // 36px
$size-2: 1.75rem; // 28px
$size-3: 1.25rem; // 20px
$size-4: 1.125rem; // 18px
$size-5: 1rem; // 16px
$size-6: .875rem; // 14px
$size-7: .75rem; // 12px
$size-8: .5rem; // 8px

$size-large: $size-4; // 18px
$size-medium: $size-5; // 16px
$size-small: $size-6; // 14px
$size-x-small: $size-7; // 12px

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// LEGACY Font Sizes
$font_size_xsm: 10px;