// @import "kit/colors";
@import "kit/typography";
@import "kit/spacing";
@import "kit/breakpoints";
@import "kit/misc";

// Globals
$font-size-root: 16px;

// Alerts
$alert-border-opacity: 1;

// Buttons
$btn-text-transform: none;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px,
);

$btn-sizes: (
    'x-small': 28,
    'small': 36,
    'default': 44,
    'large': 52,
    'x-large': 52
);

$btn-font-sizes: (
    'x-small': .75rem,
    'small': .875rem,
    'default': .875rem,
    'large': 1rem,
    'x-large': 1rem
);

$colors: (
  "orange": (
    "base": #d24600,
    "lighten-1": #f59261,
    "lighten-2": #fbd8c7,
    "lighten-3": #fef0e9,
  ),
  "blue": (
    "base": #0b485b,
    "lighten-1": #417a8c,
    "lighten-2": #ccdbe0,
    "lighten-3": #ebf2f3,
  ),
  "gray": (
    "base": #222,
    "lighten-1": #696969, //nice
    "lighten-2": #ccc,
    "lighten-3": #f1f1f1,
  ),
  "mkt": (
    "yellow": #e9c64b,
    "gold": #dfa147,
    "burgundy": #863049,
    "purple": #806ca3,
    "teal": #6ac3c2,
    "fern": #8eb974,
  ),
);


$headings : (
  'h1': (
    size: 2.25rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'h2': (
    size: 1.75rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'h3': (
    size: 1.25rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'h4': (
    size: 1.125rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'h5': (
    size: 1rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'h6': (
    size: .875rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'subtitle-1': (
    size: 1rem,
    weight: 400,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'subtitle-2': (
    size:  .875rem,
    weight: 400,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'body-1': (
    size: 1rem,
    line-height: 1.375,
    letter-spacing: 0,
  ),
  'body-2': (
    size: .875rem,
    line-height: 1.375,
    letter-spacing: 0,
  ),
  'caption': (
    size: .75rem,
    line-height: 1.2,
    letter-spacing: 0,
  ),
  'overline': (
    size: .875rem,
    weight: 700,
    line-height: 1.2,
    letter-spacing: 0,
  ),
);

// $list-item-title-font-size: ('h2', 'size');

// TODO: review globals on zcom probably remove
// TODO: POC Vulidate


$chip-white-space: normal;
$chip-padding: .5rem .75rem;