<script>
import { text } from '@/v-configs/buttons';

export default {
  name: 'Alerts',

  data: () => ({
    text,
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />

    <h1 class="text-h1">
      Alerts
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/alerts/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Zoro's configuration of Vuetify are alerts are possible using the props and slots provided</li>
          <li>It is a <code>outlined</code> and <code>border="left"</code> configuration</li>
          <li>You can slot in headings and actions</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h3
        class="text-h3 pb-4"
      >
        Info
      </h3>
      <v-alert
        border="left"
        outlined
        color="primary"
        icon="fa fa-info-circle"
        dismissible
      >
        <div class="gray--text">
          <h3 class="text-h3 pb-2">
            Heading
          </h3>
          <p>Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut velit. Nulla facilisi.</p>
        </div>
        <div class="d-flex justify-end">
          <v-btn
            v-bind="text"
          >
            Some Action
          </v-btn>
        </div>
        <template #close="{ toggle }">
          <v-btn
            text
            small
            icon
            color="gray"
            aria-label="close alert"
            @click="toggle"
          >
            <v-icon>fa fa-close</v-icon>
          </v-btn>
        </template>
      </v-alert>

      <h3
        class="text-h3 pb-4"
      >
        Success
      </h3>
      <v-alert
        border="left"
        outlined
        color="success"
        dismissible
        icon="fa fa-check-circle"
      >
        <div class="black--text">
          <h3 class="text-h3 pb-2">
            Heading
          </h3>
          <p>Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut velit. Nulla facilisi.</p>
        </div>
        <div class="d-flex justify-end">
          <v-btn
            v-bind="text"
          >
            Some Action
          </v-btn>
        </div>
        <template #close="{ toggle }">
          <v-btn
            text
            small
            icon
            color="black"
            aria-label="close alert"
            @click="toggle"
          >
            <v-icon>fa fa-close</v-icon>
          </v-btn>
        </template>
      </v-alert>

      <h3
        class="text-h3 pb-4"
      >
        Warning
      </h3>
      <v-alert
        border="left"
        outlined
        color="warning"
        dismissible
        icon="fa fa-exclamation-circle"
      >
        <div class="black--text">
          <h3 class="text-h3 pb-2">
            Heading
          </h3>
          <p>Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut velit. Nulla facilisi.</p>
        </div>
        <div class="d-flex justify-end">
          <v-btn
            v-bind="text"
          >
            Some Action
          </v-btn>
        </div>
        <template #close="{ toggle }">
          <v-btn
            text
            small
            icon
            color="black"
            aria-label="close alert"
            @click="toggle"
          >
            <v-icon>fa fa-close</v-icon>
          </v-btn>
        </template>
      </v-alert>

      <h3
        class="text-h3 pb-4"
      >
        Error
      </h3>
      <v-alert
        border="left"
        outlined
        color="error"
        dismissible
        icon="fa fa-exclamation-triangle"
      >
        <div class="black--text">
          <h3 class="text-h3 pb-2">
            Heading
          </h3>
          <p>Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut velit. Nulla facilisi.</p>
        </div>
        <div class="d-flex justify-end">
          <v-btn
            v-bind="text"
          >
            Some Action
          </v-btn>
        </div>
        <template #close="{ toggle }">
          <v-btn
            text
            small
            icon
            color="black"
            aria-label="close alert"
            @click="toggle"
          >
            <v-icon>fa fa-close</v-icon>
          </v-btn>
        </template>
      </v-alert>
    </v-sheet>
  </v-container>
</template>
