<template>
  <v-container>
    <h1 class="text-h1 pb-2">
      Blog
    </h1>
    <p>These are choices made that combine alignment with Vuetify, live site specifications, and ZCL specifications. They change from day-to-day as we are working. Changes are noted with strikethroughs.</p>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Wednesday 3-10-21
      </h2>
      <h3 class="text-h3 mb-1 mt-4">
        Ideas we've been tossing around lately
      </h3>
      <ul>
        <li>
          We'd like to meet with the Vuetify Council and discuss page layouts / grids. Did ZCL Page miss an opportunity to be useful? What can we do that will be helpful this time?
        </li>
        <li>
          Ada’s recent work on Reseller Inquiry Forms shows a great example of a grid within a grid, and we want to share that with the UI team asap.
        </li>
        <li>
          Perhaps we'll explore use of the snack bar for dismissible alerts?
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        Cards, Dialogs, and Modals
      </h3>
      <ul>
        <li>
          The base configuration for these components is extremely flexible. We will provide some recommendations for some standard uses of these components. The rest of the uses will be determined by federated teams. More details on the base recommendations to come!
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        Alerts in Modals, Form Validation Standardization
      </h3>
      <ul>
        <li>
          <strong>Note:</strong>The next few bullets are outside the scope of this project, but, as we are seeing, this basic foundational systemization that we're conducting is revealing many other opportunities. Awesome! :) We are keeping record of them as we can, but are not necessarily solving them.
        </li>
        <li>
          When a modal is used to only to confirm a user action, the alert is still inline on the page, not in the modal. When the changes are in the modal, the alert appears in the modal on error but on the page on success.
        </li>
        <li>
          To clarify, individual errors show up on the inline form field, and back-end errors show up in an alert at the top of the form
        </li>
        <li>
          Talks have begun of standardizing error messages - Vuelidate might be a good candidate as a base validator across the site.
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        Errors on... radio buttons?
      </h3>
      <ul>
        <li>
          We've encountered a unique situation where a radio button was a required element for a form submission. We have not already defined such an error.
        </li>
        <li>
          Radio buttons have their own unique error messages by default in Vuetify. Plot twist!
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        Selects/Dropdowns
      </h3>
      <ul>
        <li>
          The selected state color is 12% of the primary color (UI blue)
        </li>
        <li>
          The hover state is 4% of black
        </li>
        <li>
          Adding a checkmark would require customization
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        Skeleton Loader
      </h3>
      <ul>
        <li>
          We don’t want a skeleton loader when a component is loading, we want a skeleton loader when a page is loading.
        </li>
        <li>
          For components, we have individual loading states
        </li>
        <li>
          We can use the standard Vuetify skeleton loader
        </li>
        <li>
          When using the skeleton loader, don’t apply it to every little atom OR to the entire swath of the template. Apply it to the organism so that the user can generally get a hint of what is happening on the page.
        </li>
      </ul>
    </v-sheet>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Tuesday 3-2-21
      </h2>
      <h3 class="text-h3 mb-1 mt-4">
        Page Layouts
      </h3>
      <ul>
        <li>
          The general idea of page layouts is that the components are dynamic, meaning that they only show if they have content. The are composed of five general content areas;
          <ul>
            <li>
              hero
            </li>
            <li>
              top of page
            </li>
            <li>
              left sidebar
            </li>
            <li>
              main
            </li>
            <li>
              bottom of page
            </li>
          </ul>
        </li>
        <li>
          Main area without sidebar: 12 column
        </li>
        <li>
          Main area with sidebar: the sidebar is 3 columns and the main area is 9 columns (4/8 on tablet)
        </li>
        <li>
          If the design calls for any other layout, we can use the Vuetify grid component to create that layout
        </li>
        <li>
          For design reference, we have several possible page layouts, including the below;
          <ul>
            <li>
              One main content area that has a 12 column grid
            </li>
            <li>
              Main with left sidebar (3/9) (4/8 on tablet) (ex: Search w/ facets)
            </li>
            <li>
              Main with right sidebar (8/4) (collapses to full width on tablet) (ex: Cart/Checkout)
            </li>
            <li>
              2 column at 6/6 (ex: Promos)
            </li>
            <li>
              Four columns at 3/3/3/3 (ex: Promos)
            </li>
            <li>
              Three even columns (4/4/4) (ex: Resource Hub)
            </li>
            <li>
              Main with two sidebars (3/6/3) (not being used yet)
            </li>
          </ul>
        </li>
      </ul>
    </v-sheet>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Friday 2-26-21
      </h2>
      <h3 class="text-h3 mb-1 mt-4">
        Breadcrumbs
      </h3>
      <ul>
        <li>
          We didn't have these in our scope but we are ahead, so we're able to tackle something extra! Woot woot.
        </li>
        <li>
          Use Vuetify defaults (ui-blue-light, 14px font size, and slash divider)
        </li>
        <li>
          Breadcrumbs show whatever you pass into it as items, so we will pass the path without the current page, and no trailing slash
        </li>
        <li>
          When you use the breadcrumb, add pl0 (padding left zero) to the class to align everything to the left. Otherwise there is a default left padding that indents it from left alignment.
        </li>
        <li>
          The UI Design Council will work out if/when large breadcrumbs need to be used, but let's start out using the default (0.875rem) across the board
        </li>
      </ul>
    </v-sheet>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Thursday 2-25-21
      </h2>
      <h3 class="text-h3 mb-1 mt-4">
        A note on the use of the words primary and secondary
      </h3>
      <ul>
        <li>
          Vuetify uses the term "Primary Color" to define the color that is used the most frequently on the site. Examples are the color for link text, focused states on form fields, and checkbox colors. We are defining this as our color "UI-Blue-Light"
        </li>
        <li>
          Similarly, Vuetify uses the term "Secondary Color" to define the color that is used as an accent. We are defining this as our color "Orange" (which we previously refered to as our primary color because it is used in primary call-to-action buttons)
        </li>
        <li>
          The result of adopting Vuetify is that we have some color restrictions. We need to consider removing the term primary and secondary from other locations (like buttons) to reduce the possibility for confusion, so we're changing the names of our buttons.
        </li>
        <li>
          For this reason, we will change our button names to follow Vuetify conventions to reduce confusion
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        The way Vuetify defines buttons
      </h3>
      <ul>
        <li>
          <strong>Depressed</strong> buttons still maintain their background color, but have no box shadow.
        </li>
        <li>
          <strong>Outlined</strong> buttons inherit their borders from the current color applied.
        </li>
        <li>
          <strong>Text</strong> buttons have no box shadow and no background. Only on hover is the container for the button shown. When used with the color prop, the supplied color is applied to the button text instead of the background.
        </li>
      </ul>
    </v-sheet>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Friday 2-19-21
      </h2>
      <h3 class="text-h3 mb-1 mt-4">
        Date Picker
      </h3>
      <ul>
        <li>
          Uses primary orange
        </li>
        <li>
          Elevation of 2
        </li>
      </ul>
    </v-sheet>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Thursday 2-18-21
      </h2>
      <h3 class="text-h3 mb-1 mt-4">
        Form Fields
      </h3>
      <ul>
        <li>
          <strong>Disabled Buttons:</strong> No matter what, we do not want to disable buttons on forms. For accessibility’s sake, form buttons will always be enabled.
        </li>
        <li>
          <strong>Blur:</strong> We will look into how / when we want to use error messages on blur, but for now we’re holding off on that until we have a strategy
        </li>
        <li>
          <strong>Input-level errors:</strong> These are the errors that show up on the actual form-field itself. They are primarily for frontend validation, such as a required field has not been filled out, improper email format, etc. They will appear after submit button is clicked.
        </li>
        <li>
          <strong>Form-level error notifications:</strong> These are represented by the Alert component at the top of the form. These error notifications are reserved for “after submit back-end errors” such as credit card validation decline issues, wrong password, email is not in our database, API failed, etc.
          <br>
          <div class="text-decoration-line-through">
            Backend errors should be very clear what the problem is in the Alert component. If the data allows, the input level error should also be triggered on the applicable field according to the error, and the back-end error message should replace the front-end error message (ie "credit card denied" vs "credit card required").
          </div>
          <strong>NOTE:</strong> Net Suite does not currently allow for this specific messaging on back-end errors. We can come back and address this when we are no longer utilizing Net Suite.
        </li>
        <li>
          <strong>Density:</strong> When a form field/button is in a control toggle or mechanism (faceting, sorting, filtering, pagination, view toggles etc) it will be dense. Form fields on pages, CTA buttons, etc will be default size (and buttons will either be large or xl according to other specs that are not detailed here). The height of a dense field is 40px, the height of a default field (not dense) is 56px.
        </li>
        <li>
          <strong>Loading states:</strong> Some form fields have a loading state. An example is within the fitment widget, where the form fields are pulling in other data.
        </li>
        <li>
          <strong>Placeholders:</strong> We aren’t using actual placeholders, because we use the type of label that starts out as a placeholder and then moves up to the label area. We can use the hint text below the form field if the user needs more complex instruction. The hint shows on focus, it will not be persistent.
        </li>
        <li>
          <strong>Disabled forms color:</strong> These are black-38 (38% opacity of solid black)
        </li>
        <li>
          <strong>Normal form fields color:</strong> are 87% black
        </li>
        <li>
          <strong>Regarding the color black in general:</strong> Vuetify default black is 87% black, which is comparable to our black, #333. Vuetify’s black should replace our black in typographic and form field applications.
        </li>
      </ul>
      <h3 class="text-h3 mb-1 mt-4">
        Generic Error Messaging
      </h3>
      <ul>
        <li>
          Inconsistencies in our alert messaging need to be resolved. A generic message may be: There was an error processing your request. Please try again later or contact Customer Service for assistance: 1-855-289-9676.
        </li>
      </ul>
    </v-sheet>
    <v-sheet
      color="blue lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Sprint 0
      </h2>
      <p>These are choices made that combine alignment with Vuetify, live site specifications, and ZCL specifications</p>
      <h3 class="text-h3 pb-2">
        Icons
      </h3>
      <ul class="pb-4">
        <li>
          Icons in Vuetify are Font Awesome until all pages are switched to Vue/Vuetify. It seems that the global navigation has some needs for icons that cannot be solved by Font Awesome. This is something that we have to look into.
        </li>
        <li>
          At this point, we will make a global switch to <a href="https://material.io/">Material.io icons</a><br>
          (Not to be confused with <a href="https://materialdesignicons.com/">materialdesignicons.com</a>, which are also supported by Vuetify, but which we are not using)
        </li>
        <li>
          Default color for icons is #333, our Zoro black.
        </li>
        <li>
          The reason we chose Font Awesome is because it's already being used by Django pages. We are trying to reduce the library count to as minimal as possible.
        </li>
      </ul>
      <h3 class="text-h3 pb-2">
        Elevation
      </h3>
      <ul class="pb-4">
        <li>Vuetify provides a 1-24 scale for elevation</li>
        <li>
          Elevation-large = 4 (Examples: product/carousel cards on hover and sticky nav)
        </li>
        <li>
          Elevation-medium = 2 (Examples: static product/carousel cards)
        </li>
      </ul>
      <h3 class="text-h3 pb-2">
        Various Globals that will remain as Vuetify Default
      </h3>
      <ul class="pb-4">
        <li><a href="https://vuetifyjs.com/en/styles/border-radius/">Border radius</a> (The default will be 4px unless otherwise specified)</li>
        <li><a href="https://vuetifyjs.com/en/styles/spacing/">Spacing</a> (multiples of 4, specific numbers and use cases to be defined per component)</li>
      </ul>
      <h3 class="text-h3 pb-2">
        Button Specifications
      </h3>
      <ul class="pb-4">
        <li>
          Default sizing, padding etc:
        </li>
        <li>
          Primary Color Specifications
        </li>
        <li>
          Secondary Color Specs
        </li>
        <li>
          Tertiary Color Specs
        </li>
        <li>
          We have bumped up all the button sizes one size from the Vuetify default, because our default is the same size as the Vuetify large
        </li>
        <li>
          We use only use default and large buttons. Default buttons (formerly large) are 44px and Large (formerly xl) buttons are 52px.
        </li>
        <li>
          There are disabled and loading states
        </li>
        <li>
          Icons used are only cart icon
        </li>
        <li>
          Button groups also exist and can be dense
        </li>
      </ul>
      <h3 class="text-h3 pb-2">
        Typography
      </h3>
      <ul class="pb-4">
        <li>
          Font Family: Roboto
        </li>
        <li>
          Font Weights: 400 and 700
        </li>
        <li>
          Default Font Color: #333333
        </li><li>
          Heading 1: Size: 36px (2.25rem), Weight: 700, Line Height: 1.2<br>
          Bumps down to the size of an H2 on mobile
        </li>
        <li>
          Heading 2: Size: 28px (1.75rem), Weight: 700, Line Height: 1.2<br>
          Bumps down to the size of an H3 on mobile
        </li>
        <li>
          Heading 3: Size: 20px (1.25rem), Weight: 700, Line Height: 1.2<br>
          Bumps down to the size of an H4 on mobile
        </li>
        <li>
          Heading 4: Size: 18px (1.125rem), Weight: 700, Line Height: 1.2<br>
          Bumps down to the size of an H5 on mobile
        </li>
        <li>
          Heading 5: Size: 16px (1rem), Weight: 700, Line Height: 1.2<br>
          Bumps down to the size of an H5 on mobile
        </li>
        <li>
          Heading 6: Size: 14px (0.875rem), Weight: 700, Line Height: 1.2<br>
          Does not change on mobile
        </li>
        <li>
          Overline: Size: 14px (0.875rem), Weight: 400, Line Height: 1.2, Color: #696969<br>
          Does not change on mobile
        </li>
        <li>
          <div class="text-decoration-line-through">
            Subtitle 1: Size: 28px (1.75rem), Weight: 400, Line Height: 1.2<br>
            Bumps down to the size of Subtitle 2 on mobile
          </div>
        </li>
        <li>
          <div class="text-decoration-line-through">
            Subtitle 2: Size: 20px (1.25rem), Weight: 400, Line Height: 1.2<br>
            Bumps down to 18px(1.125rem) on mobile
          </div>
          <strong>NOTE:</strong> We have since discovered a conflict with changing the size of subtitle because it is being used to define other typography, including but not limited to table data. For now, we are leaving subtitles as the Vuetify default and planning to work in our large subtitles via utility classes. Stay tuned.
        </li><li>
          Body 1 (Medium): Size: 16px (1rem), Weight: 400, Line Height: 1.375<br>
          Does not change on mobile
        </li>
        <li>
          Body 2 (Small): Size: 14px (0.875em), Weight: 400, Line Height: 1.375<br>
          Does not change on mobile
        </li>
        <li>
          Caption: Size: 12px (0.75rem), Weight: 400, Line Height: 1.2<br>
          Does not change on mobile
        </li>
      </ul>
      <h3 class="text-h3  pb-2">
        Colors
      </h3>
      <code class="d-block">
        // Oranges <br>
        $color-orange: #d24600; /*secondary color*/<br>
        $color-orange-60: #f59261;<br>
        $color-orange-40: #fbd8c7;<br>
        $color-orange-20: #fef0e9;<br>

        // Blues<br>
        $color-blue: #0b485b;<br>
        $color-blue-60: #417a8c;<br>
        $color-blue-40: #ccdbe0;<br>
        $color-blue-20: #ebf2f3;<br>

        // Grays<br>
        $color-gray: #333;<br>
        $color-gray-60: #696969;<br>
        $color-gray-40: #ccc;<br>
        $color-gray-20: #f1f1f1;<br>

        // UI<br>
        $white: #fff;<br>
        $color-ui-blue-dark: #08457E;<br>
        $color-ui-blue-light: #2071a7; /*primary color*/<br>
        $color-ui-green: #428503;<br>
        $color-ui-yellow: #ffa81b;<br>
        $color-ui-red: #dc2a2a;<br>

        // Marketing Colors<br>
        $color-yellow: #e9c64b;<br>
        $color-gold: #dfa147;<br>
        $color-burgundy: #863049;<br>
        $color-purple: #806ca3;<br>
        $color-teal: #6ac3c2;<br>
        $color-fern: #8eb974;<br>

        // Secondary Opacities<br>
        $color-opacity-75: 75%;<br>
        $color-opacity-50: 50%;<br>
        $color-opacity-20: 20%;<br>
        $color-opacity-10: 10%;<br>
      </code>
      <ul>
        <li>
          Vuetify default is 87% black which is comparable to our black, #333, and should replace it in typographic and form field applications
        </li>
        <li>
          Vuetify uses the term "Primary Color" to define the color that is used the most frequently on the site. Examples are the color for link text, focused states on form fields, and checkbox colors. We are defining this as our color "UI-Blue-Light"
        </li>
        <li>
          Similarly, Vuetify uses the term "Secondary Color" to define the color that is used as an accent. We are defining this as our color "Orange" (which we previously refered to as our primary color because it is used in primary call-to-action buttons)
        </li>
      </ul>
    </v-sheet>
  </v-container>
</template>
