
<script>

export default {
  name: 'Breadcrumbs',
  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Chips
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/breadcrumbs/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>
            We use the Vuetify defaults for breadcrumbs. Simply pass in <code>:items</code>.
          </li>
          <li>
            Breadcrumbs inherit the padding all around. To align breadcrumbs to the left using the <code>.pl-0</code> helper.
          </li>
          <li>
            <code>ZCLBreadcrumbs</code> are still used when there are many breadcrumbs or long breadcrumbs. Because this deals with truncation.
          </li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-breadcrumbs
        :items="items"
        class="pl-0"
      />
    </v-sheet>
    <code class="d-block">
      <pre>
        &gt;v-breadcrumbs
          :items="items"
          class="pl-0"
        />
      </pre>
    </code>
  </v-container>
</template>