<script>
import { depressed, outlined, text } from '@/v-configs/buttons';

export default {
  name: 'Buttons',

  data: () => ({
    depressed,
    outlined,
    text,
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>
<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Buttons
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/buttons/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>We most often use 2 button sizes <code>default</code> and <code>large</code></li>
          <li>Our buttons sizes match Vuetify defaults but are sized up one level. e.g. Our <code>large</code> size button is equivalent to vuetify's <code>x-large</code> button.</li>
          <li>We don't currently provide for an <code>x-large</code> button size</li>
        </div>
      </div>
    </v-alert>


    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h4
        class="pb-4"
      >
        Depressed
      </h4>
      <v-row justify="center">
        <v-col md="2">
          <v-btn
            v-bind="depressed"
          >
            <v-icon
              dense
              class="mr-2"
            >
              fa fa-shopping-cart
            </v-icon>
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="depressed"
            large
          >
            <v-icon
              class="mr-2"
            >
              fa fa-shopping-cart
            </v-icon>
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="depressed"
            large
            loading
          >
            Disabled
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="depressed"
            large
            disabled
          >
            Disabled
          </v-btn>
        </v-col>
      </v-row>
    </v-sheet>

    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
    >
      <h4 class="pb-4">
        Outlined
      </h4>
      <v-row
        justify="center"
        item
      >
        <v-col md="2">
          <v-btn
            v-bind="outlined"
          >
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="outlined"
            large
          >
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="outlined"
            large
            loading
          >
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="outlined"
            large
            disabled
          >
            Disabled
          </v-btn>
        </v-col>
      </v-row>
    </v-sheet>

    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
    >
      <h4 class="pb-4">
        Text
      </h4>
      <v-row justify="center">
        <v-col md="2">
          <v-btn
            v-bind="text"
          >
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="text"
            x-large
          >
            Button
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="text"
            x-large
            loading
          >
            Loading
          </v-btn>
        </v-col>
        <v-col md="2">
          <v-btn
            v-bind="text"
            x-large
            disabled
          >
            Disabled
          </v-btn>
        </v-col>
      </v-row>
    </v-sheet>

    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
    >
      <h4 class="pb-4">
        Group
      </h4>
      <v-row justify="center">
        <v-col md="4">
          <v-btn-toggle
            color="blue"
          >
            <v-btn class="blue--text">
              <v-icon
                color="blue"
                class="mr-2"
              >
                fa fa-th-large
              </v-icon>Grid
            </v-btn>
            <v-btn class="blue--text">
              <v-icon
                color="blue"
                class="mr-2"
              >
                fa fa-th-list
              </v-icon>List
            </v-btn>
          </v-btn-toggle>
        </v-col>
        <v-col md="4">
          <v-btn-toggle
            color="blue"
            dense
          >
            <v-btn class="blue--text">
              <v-icon
                color="blue"
                class="mr-2"
                dense
              >
                fa fa-th-large
              </v-icon>Grid
            </v-btn>
            <v-btn class="blue--text">
              <v-icon
                color="blue"
                class="mr-2"
                dense
              >
                fa fa-th-list
              </v-icon>List
            </v-btn>
          </v-btn-toggle>
        </v-col>
      </v-row>
    </v-sheet>

    <v-sheet>
      <h4
        class="pb-4"
      >
        Overrides
      </h4>
      <code class="d-block pa-6">
        <pre>
        $btn-sizes: (
          'x-small': 28,
          'small': 36,
          'default': 44,
          'large': 52,
          'x-large': 52
        );

        $btn-font-sizes: (
          'x-small': .75rem,
          'small': .875rem,
          'default': .875rem,
          'large': 1rem,
          'x-large': 1rem
        );
        </pre>
      </code>
    </v-sheet>
  </v-container>
</template>