<script>
export default {
  name: 'Cards',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Cards
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/cards/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Cards are so extensible in Vuetify and so varied in Zoro that teams should use as they see fit using the available props/slots.</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-card
        class="mx-auto"
        max-width="344"
        outlined
      >
        <v-list-item three-line>
          <v-list-item-content>
            <div class="overline mb-4">
              OVERLINE
            </div>
            <v-list-item-title class="headline mb-1">
              Headline 5
            </v-list-item-title>
            <v-list-item-subtitle>Greyhound divisely hello coldly fonwderfully</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-avatar
            tile
            size="80"
          />
        </v-list-item>

        <v-card-actions>
          <v-btn
            outlined
            rounded
            text
          >
            Button
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-sheet>
  </v-container>
</template>