
<script>

export default {
  name: 'Chips',
  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Chips
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/chips/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Chips uses vuetify defaults except for some padding changes and some css changes to allow for text wrapping</li>
          <li>the default color should be <code>color="blue lighten-2"</code></li>
          <li>the close icon should be <code>close-icon="fa-times"</code></li>
          <li>use margin utility classes for spacing</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      width="25%"
      rounded
    >
      <h3 class="text-h3 pb-4">
        Small container
      </h3>
      <v-chip
        color="blue lighten-2"
        close
        class="mb-2 mr-2"
        close-icon="fa-times"
      >
        I am a chip
      </v-chip>
      <v-chip
        color="blue lighten-2"
        close
        class="mb-2 mr-2"
        close-icon="fa-times"
      >
        I am a chip
      </v-chip>
      <v-chip
        color="blue lighten-2"
        close
        class="mb-2 mr-2"
        close-icon="fa-times"
      >
        I am a veryyyyyy veryyyyyy veryyyyyy veryyyyyy veryyyyyy long tag
      </v-chip>
    </v-sheet>
    <code class="d-block py-4">
      <pre>
        &lt;v-chip
          color="blue lighten-2"
          close
          close-icon="fa-times"
        &lt;
          I am a chip
        &lt;/v-chip>
      </pre>
    </code>
  </v-container>
</template>