<script>
export default {
  name: 'Colors',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
    colors: [
      {
        name: 'primary',
        code: '#2071a7',
      },
      {
        name: 'secondary / orange',
        code: '#d24600',
      },
      {
        name: 'orange lighten-1',
        code: '#f59261',
      },
      {
        name: 'orange lighten-2',
        code: '#fbd8c7',
      },
      {
        name: 'orange lighten-3',
        code: '#fef0e9',
      },
      {
        name: 'blue',
        code: '#0b485b',
      },
      {
        name: 'blue lighten-1',
        code: '#417a8c',
      },
      {
        name: 'blue lighten-2',
        code: '#ccdbe0',
      },
      {
        name: 'blue lighten-3',
        code: '#ebf2f3',
      },
      {
        name: 'gray',
        code: '#222',
      },
      {
        name: 'gray lighten-1',
        code: '#696969',
      },
      {
        name: 'gray lighten-2',
        code: '#ccc',
      },
      {
        name: 'gray lighten-3',
        code: '#f1f1f1',
      },
      {
        name: 'white',
        code: '#ffffff',
      },

    ],
    uiColors: [
      {
        name: 'info',
        code: '#08457E',
      },
      {
        name: 'success',
        code: '#428503',
      },
      {
        name: 'warning',
        code: '#ffa81b',
      },
      {
        name: 'error',
        code: '#dc2a2a',
      },

    ],
    marketingColors: [
      {
        name: 'mkt yellow',
        code: '#e9c64b',
      },
      {
        name: 'mkt gold',
        code: '#dfa147',
      },
      {
        name: 'mkt burgundy',
        code: '#863049',
      },
      {
        name: 'mkt purple',
        code: '#806ca3',
      },
      {
        name: 'mkt teal',
        code: '#6ac3c2',
      },
      {
        name: 'mkt fern',
        code: '#8eb974',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Colors
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/styles/colors/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>
            See Zoro's colors below. They are available via SASS and JS for use in components.
          </li>
          <li>
            We map <code>.ui-blue-light</code> to <code>primary</code> so default buttons and form states use those colors.
          </li>
          <li>
            We map <code>.orange</code> to <code>secondary</code>.
          </li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6 text-center"
      rounded
    >
      <h3 class="text-h3  pb-6">
        Main Colors
      </h3>
      <v-row
        justify="center"
        class="pb-8"
      >
        <v-col
          v-for="(c, idx) in colors"
          :key="idx"
          cols="auto"
        >
          <v-card
            height="100"
            width="100"
            :color="c.name"
          />
          <div>{{ c.name }}</div>
          <div>{{ c.code }}</div>
        </v-col>
      </v-row>
      <h3 class="text-h3  pb-6">
        UI Colors
      </h3>
      <v-row
        justify="center"
        class="pb-8"
      >
        <v-col
          v-for="(c, idx) in uiColors"
          :key="idx"
          cols="auto"
        >
          <v-card
            height="100"
            width="100"
            :color="c.name"
          />
          <div>{{ c.name }}</div>
          <div>{{ c.code }}</div>
        </v-col>
      </v-row>
      <h3 class="text-h3 pb-6">
        Marketing Colors
      </h3>
      <v-row
        justify="center"
        class="pb-8"
      >
        <v-col
          v-for="(c, idx) in marketingColors"
          :key="idx"
          cols="auto"
        >
          <v-card
            height="100"
            width="100"
            :color="c.name"
          />
          <div>{{ c.name }}</div>
          <div>{{ c.code }}</div>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>
</template>