<script>
export default {
  name: 'Components',
  components: {

  },
  data: () => ({
    componentLinks: [
      {
        name: 'Alerts',
        to: '/alerts',
      },
      {
        name: 'Buttons',
        to: '/buttons',
      },
      {
        name: 'Cards',
        to: '/cards',
      },
      {
        name: 'Chips',
        to: '/chips',
      },
      {
        name: 'Date Picker',
        to: '/date-picker',
      },
      {
        name: 'Dialogs',
        to: '/dialogs',
      },
      {
        name: 'Expansion Panels',
        to: '/expansion-panels',
      },
      {
        name: 'Forms',
        to: '/forms',
      },
      {
        name: 'Icons',
        to: '/icons',
      },
      {
        name: 'Nav Drawers',
        to: '/nav-drawers',
      },
      {
        name: 'Page Layout',
        to: '/page',
      },
      {
        name: 'Skeletons',
        to: '/skeleton-loader',
      },


    ],
    globalsLinks: [
      {
        name: 'Typography',
        to: '/typography',
      },
      {
        name: 'Colors',
        to: '/colors',
      },
      {
        name: 'Elevation',
        to: '/elevation',
      },
      {
        name: 'Spacing & Breakpoints',
        to: '/spacing',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <h1 class="text-h1">
      Components
    </h1>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2 mb-4">
        Globals
      </h2>
      <ul class="mb-4">
        <li
          v-for="(link, idx) in globalsLinks"
          :key="idx"
          class="subtitle-1 pb-2"
        >
          <router-link
            :to="link.to"
          >
            {{ link.name }}<br>
          </router-link>
        </li>
      </ul>
      <h2 class="text-h2 mb-4">
        Components
      </h2>
      <ul class="mb-4">
        <li
          v-for="(link, idx) in componentLinks"
          :key="idx"
          class="subtitle-1 pb-2"
        >
          <router-link
            :to="link.to"
          >
            {{ link.name }}<br>
          </router-link>
        </li>
      </ul>
    </v-sheet>
  </v-container>
</template>
