<script>
import { text } from '@/v-configs/buttons';

export default {
  name: 'DatePicker',

  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    text,
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],

  }),
  computed: {
    formattedDate() {
      if (!this.date) return null;

      const [year, month, day] = this.date.split('-');
      return `${month}/${day}/${year}`;
    },
  },
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Date Picker
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/date-pickers/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Take a look at "Picker without buttons" example for our standard implementation</li>
          <li><code>secondary</code> is used as the section color</li>
          <li>remove the header using <code>:no-title</code></li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="formattedDate"
            label="Date Picker"
            readonly
            outlined
            hide-details
            background-color="white"
            v-bind="attrs"
            v-on="on"
          />
        </template>
        <v-date-picker
          v-model="date"
          no-title
          elevation="2"
          scrollable
          color="orange"
          show-current="false"
        />
      </v-menu>
    </v-sheet>
  </v-container>
</template>