<script>
export default {
  name: 'Elevation',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Elevation
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/styles/elevation/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="info"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>We use the Vuetify defaults for elevation.</li>
          <li>To keep things simple we currently only use 3 elevation states: <code>0</code>,<code>2</code>,<code>4</code></li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-row justify="center">
        <v-col
          v-for="n in 25"
          :key="n"
          cols="auto"
        >
          <v-card
            :elevation="n - 1"
            height="100"
            width="100"
            class="white"
          >
            <v-row
              class="fill-height text-center flex-column"
              align="center"
              justify="center"
            >
              <div>{{ n - 1 }}</div>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>
</template>