<script>
export default {
  name: 'ExpansionPanels',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
    panels: [],
    panelContent: ['Option 1', 'Option 2', 'Option 3', 'Option 4', 'Option 5'],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Expansion Panels
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/expansion-panels/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="info"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Expansion panels do not differ from vuetify defaults.</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-expansion-panels
        class="mb-4"
        accordion
      >
        <v-expansion-panel
          v-for="(panel, i) in 5"
          :key="i"
        >
          <v-expansion-panel-header>
            Expansion Header
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Est aperiam repellendus obcaecati minima hic corporis dignissimos dicta culpa,
            laborum vero illo quia iste animi sit tenetur libero praesentium veniam minus!
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <h3 class="mb-1">
        Multiple panels
      </h3>
      <v-row>
        <v-col cols="4">
          <v-expansion-panels
            v-model="panels"
            multiple
            accordion
          >
            <v-expansion-panel
              v-for="(panels, i) in 5"
              :key="i"
            >
              <v-expansion-panel-header>
                Expansion Header
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-checkbox
                  v-for="(content, i) in panelContent"
                  :key="i"
                  :label="content"
                  color="orange"
                  dense
                  hide-details
                />
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
        <v-col cols="8">
          <v-card class="pa-8">
            <h3>Main Content</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Odio accusantium quidem aperiam nostrum inventore eius provident minima delectus ad alias!
            At qui mollitia commodi ea a dolorum harum deleniti odio!
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Odio accusantium quidem aperiam nostrum inventore eius provident minima delectus ad alias!
            At qui mollitia commodi ea a dolorum harum deleniti odio!
          </v-card>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>
</template>