<script>
import { validationMixin } from 'vuelidate';
import { required, maxLength, email } from 'vuelidate/lib/validators';

export default {
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(10) },
    email: { required, email },
    select: { required },
    checkbox: {
      checked (val) {
        return val;
      },
    },
  },

  data: () => ({
    name: '',
    email: '',
    select: null,
    items: [
      '',
      'Item 1',
      'Item 2',
      'Item 3',
      'Item 4',
    ],
    checkbox: false,
    breadItems: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),

  computed: {
    checkboxErrors () {
      const errors = [];
      if (!this.$v.checkbox.$dirty) return errors;
      !this.$v.checkbox.checked && errors.push('You must agree to continue!');
      return errors;
    },
    selectErrors () {
      const errors = [];
      if (!this.$v.select.$dirty) return errors;
      !this.$v.select.required && errors.push('Item is required');
      return errors;
    },
    nameErrors () {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long');
      !this.$v.name.required && errors.push('Name is required.');
      return errors;
    },
    emailErrors () {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push('Must be valid e-mail');
      !this.$v.email.required && errors.push('E-mail is required');
      return errors;
    },
  },

  methods: {
    submit () {
      this.$v.$touch();
    },
    clear () {
      this.$v.$reset();
      this.name = '';
      this.email = '';
      this.select = null;
      this.checkbox = false;
    },
  },
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="breadItems"
      class="pl-0"
    />
    <h1 class="text-hI1">
      Forms
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/forms/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="info"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>We use outline forms with <code>ui-blue-light</code> color on Zoro</li>
          <li>
            We recommend using <code>Vuelidate</code> for form validation to maintain constancy of validation rules. <a
              href="https://v2.vuetifyjs.com/en/components/forms/#vuelidate"
              target="_blank"
            >See docs here</a>
          </li>
          <li>We prefer to run validation only on form submit. So no need to vuelidate on <code>@blur</code> or <code>@input</code>.</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <form>
        <v-text-field
          v-model="name"
          :error-messages="nameErrors"
          :counter="10"
          label="Name"
          required
          outlined
          background-color="white"
        />
        <v-text-field
          v-model="email"
          :error-messages="emailErrors"
          label="E-mail"
          required
          outlined
          background-color="white"
        />
        <v-select
          v-model="select"
          :items="items"
          :error-messages="selectErrors"
          label="Item"
          required
          outlined
          background-color="white"
        />
        <v-checkbox
          v-model="checkbox"
          :error-messages="checkboxErrors"
          label="Do you agree?"
          required
        />

        <v-btn
          class="mr-4"
          @click="submit"
        >
          submit
        </v-btn>
        <v-btn @click="clear">
          clear
        </v-btn>
      </form>
    </v-sheet>
  </v-container>
</template>