<script>
export default {
  name: 'Glossary',
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Glossary
    </h1>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <ul>
        <li><strong>Zoro UI</strong>: All encompassing phrase to refer to XD and Eng collaboration</li>
        <li><strong>Council</strong>: Designated members from XD and Eng to guide and champion Zoro UI. If you are interested in joining get in touch!</li>
        <li><strong>Vue</strong>: The front-end javascript framework most pages on Zoro use. A page being in Vue is a prerequisite to use Vuetify.</li>
        <li><strong>Design System</strong>: The guidelines XD uses to build Zoro UI.</li>
        <li><strong>Component Library</strong>: Reusable building blocks for website elements.</li>
        <li><strong>Vuetify</strong>: A component library built on Vue.</li>
        <li><strong>Bootstrap</strong>: A CSS framework originally used on Zoro, remnants of this still exist.</li>
        <li><strong>Django</strong>: Python based templating previous used on Zoro, being converted to Vue.</li>
        <li><strong>ZCL Components</strong>: Zoro Component Library, Our custom component library which is now being deprecated in favor of Vuetify.</li>
        <li><strong>Z-Components</strong>: Zoro Components, Vue components used previous to ZCL there not well documented.</li>
        <li><strong>Defaults</strong>: A the "out of the box" configuration without any customizations</li>
        <li><strong>Globals</strong>: A changes that affect all components</li>
        <li><strong>Props</strong>: Set of predefined setting that modify the behavior of the component.</li>
        <li><strong>Slots</strong>: A section of a component that can accept other components or elements. There can be none or many per component.</li>
        <li><strong>Atoms</strong>: The smallest type of component.</li>
        <li><strong>Molecules</strong>: A component made up of atoms</li>
        <li><strong>Organisms</strong>: A component made up of molecules</li>
      </ul>
    </v-sheet>
  </v-container>
</template>