<script>

export default {
  name: 'Home',
  components: {

  },
  data: () => ({
    engMembers: [
      {
        name:'Mark Spirek (lead)',
        team: 'select',
        img: 'https://ca.slack-edge.com/T02PFTM6F-UHKEV1QNA-f4eb02ad664f-512',
      },
      {
        name:'Adam Jenkins',
        team: 'browse',
        img: 'https://ca.slack-edge.com/T02PFTM6F-U0204J2MM4Z-04c17247fe32-512',
      },
      {
        name:'Marjan Bajc',
        team: 'buy get manage',
        img: 'https://ca.slack-edge.com/T02PFTM6F-UPSC9BCE6-8f72702c7d5e-512',
      },
      {
        name:'Spencer Hockeborn',
        team: 'search',
        img: 'https://ca.slack-edge.com/T02PFTM6F-U012TRYJRHB-6be4ed6dd955-512',
      },
      {
        name:'Alex Miner',
        team: 'staff',
        img: 'https://ca.slack-edge.com/T02PFTM6F-UEFKTMT8V-edcf0bee2a72-512',
      },
      {
        name:'Yinka Adenekan',
        team: 'sr manager',
        img: null,
      },
    ],
    designMembers: [
      {
        name:'Nikki Lo Bue (lead)',
        team: 'buy get manage',
        img: '/NikkiLoBue_Headshot_2019.jpg',
      },
      {
        name:'Ada Rafalowicz',
        team: 'browse',
        img: 'https://ca.slack-edge.com/T02PFTM6F-U9RR80PFB-2ed14de3e67c-512',
      },
      {
        name:'Morghan Buhrman',
        team: 'search',
        img: 'https://ca.slack-edge.com/T02PFTM6F-UV35Y7GE4-85d2e26e27c8-512',
      },
      {
        name:'TJ O\'Neill',
        team: 'select',
        img: 'https://ca.slack-edge.com/T02PFTM6F-U7MSH8TML-663e01018c10-512',
      },
      {
        name:'Margaret Kujawa',
        team: 'sr manager',
        img: 'https://ca.slack-edge.com/T02PFTM6F-ULNCTDBTJ-a62374ce203e-512',
      },
    ],
  }),
};
</script>

<template>
  <v-container class="home">
    <img
      src="@/assets/logo.jpg"
      alt="logo"
      class="logo mb-8 mx-auto"
    >
    <h1 class="text-h1">
      Welcome
    </h1>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2 pb-2">
        Start Here:
      </h2>

      <p>
        Zoro uses <a
          href="https://vuetifyjs.com/en/"
          target="_blank"
        >Vuetify</a> as the basis for it's front end component library. Please familiarize yourself with <a
          href="https://vuetifyjs.com/en/"
          target="_blank"
        >Vuetify</a> before continuing.
      </p>

      <h2 class="text-h3 pb-2">
        The goals:
      </h2>
      <ul class="pb-4">
        <li>We attempt to use Vuetify defaults when possible.</li>
        <li>We implement minimal overrides to Vuetify spacing and styling. Main customizations are to colors and typography.</li>
        <li>To maintain design consistency between components, we provide documentation and/or pre-made configurations that can be bound to the component.</li>
        <li>This documentation serves as "guidance" no hard and fast rules. Continuous engineering and design collaboration is required. Individual teams are empowered to use Vuetify as they see fit, that may include deviating from guidance.</li>
      </ul>

      <h2 class="text-h3 pb-2">
        The ground rules:
      </h2>

      <h2 class="text-h3 pb-2">
        DO
      </h2>
      <ul class="pb-4">
        <li>DO: Use this documentation as a supplement to Vuetify documentation, not a replacement.</li>
        <li>DO: Work closely with the designers on your team.</li>
        <li>DO: Begin planning converting your pages to use Vuetify.</li>
        <li>DO: Communicate deviations from guidance to the council.</li>
      </ul>

      <h2 class="text-h3 pb-2">
        DO NOT
      </h2>
      <ul class="pb-4">
        <li>DO NOT: Treat design mocks as the source of truth. These are often out of date and do not reflect the current design thinking.</li>
        <li>DO NOT: Override Vuetify classes with custom CSS. (use the provided utilities instead).</li>
        <li>DO NOT: Align Vuetify with any older framework. The proper color, spacing, grid, and typography for Vuetify is configured for you.</li>
        <li>DO NOT: Modify globals, these should be brought to the council for discussion and approval.</li>
      </ul>
    </v-sheet>

    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        Vuetify council:
      </h2>
      <p>The Vuetify council consists of one engineer and one designer from each product team. They serve as the Veutify SME on their team. The council meets as needed to review and discuss changes and maintain documentation.</p>
      <v-row>
        <v-col
          v-for="(member, idx) in engMembers"
          :key="idx"
          class="flex text-center"
          cols="4"
        >
          <v-avatar
            size="128"
            color="primary"
          >
            <img
              v-if="member.img"
              :src="member.img"
              :alt="member.name"
            >
            <span
              v-else
              class="white--text headline"
            >{{ member.name }}</span>
          </v-avatar>
          <div>
            <div>
              {{ member.name }}
              <div class="caption">
                {{ member.team }}
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-sheet>

    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h2 class="text-h2">
        UI Design council:
      </h2>
      <p>The UI Design council consists of designers from each product team. The council meets as needed to review and discuss changes global UI needs. The council reviews and discusses changes and maintains documentation.</p>
      <v-row>
        <v-col
          v-for="(member, idx) in designMembers"
          :key="idx"
          class="flex text-center"
          cols="4"
        >
          <v-avatar size="128">
            <img
              :src="member.img"
              :alt="member.name"
            >
          </v-avatar>
          <div>
            <div>
              {{ member.name }}
              <div class="caption">
                {{ member.team }}
              </div>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>
</template>

<style lang="scss">
.logo {
  display: block;
}
</style>

