<script>
export default {
  name: 'Icons',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Icons
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/icons/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>
            We use <a
              href="https://fontawesome.com/v4.7.0/icons/"
              target="_blank"
            >Font Awesome 4</a> for all icons.
          </li>
          <li>
            We most often use the <code>default</code> and <code>large</code> icons seen below.
          </li>
          <li>
            Use margin utility classes to space icons as needed.
          </li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-row
        justify="center"
        class="text-center"
      >
        <v-col md="4">
          <v-icon class="mb-2">
            fa fa-shopping-cart
          </v-icon>
          <h3 class="text-h4">
            default
          </h3>
          <code class="text-left">
            <pre>
              &lt;v-icon>
                fa fa-shopping-cart
              &lt;/v-icon>
            </pre>
          </code>
        </v-col>
        <v-col md="4">
          <v-icon
            large
            class="mb-2"
          >
            fa fa-shopping-cart
          </v-icon>
          <h3 class="text-h4">
            large
          </h3>
          <code class="text-left">
            <pre>
              &lt;v-icon large>
                fa fa-shopping-cart
              &lt;/v-icon>
            </pre>
          </code>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>
</template>