<script>
import { text } from '@/v-configs/buttons';

export default {
  name: 'NavDrawer',

  data: () => ({
    text,
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
    drawer: false,
    group: null,
  }),
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Nav Drawer
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/navigation-drawers/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Nav Drawers use the Vuetify defaults.</li>
          <li>
            If the navigation drawer needs to close when the window is resized, then
            an event listener can be used to accomplish this. An example of this can be found in Search's
            implementation (currently in FacetDrawer).
          </li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-row justify="center">
        <v-col
          align-self="center"
          cols="3"
        >
          <v-toolbar
            class="mb-10"
            dense
          >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
            <v-toolbar-title>
              Nav Drawer
            </v-toolbar-title>
          </v-toolbar>
          <v-navigation-drawer
            v-model="drawer"
            class="col-12"
            absolute
            temporary
          >
            <v-list nav>
              <v-list-item>
                <v-checkbox label="checkbox 1" />
              </v-list-item>
              <v-list-item>
                <v-checkbox label="checkbox 2" />
              </v-list-item>
              <v-list-item>
                <v-checkbox label="checkbox 3" />
              </v-list-item>
              <v-list-item>
                <v-checkbox label="checkbox 4" />
              </v-list-item>
              <v-list-item>
                <v-checkbox label="checkbox 5" />
              </v-list-item>
            </v-list>
            <v-btn
              text
              @click="drawer = !drawer"
            >
              Close
            </v-btn>
          </v-navigation-drawer>
          <v-card class="col-12">
            <h1>Content</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Omnis unde iure, nihil porro nobis quia beatae eveniet nesciunt incidunt deleniti non ullam temporibus!
            Id assumenda consectetur, commodi praesentium officiis inventore!
          </v-card>
        </v-col>
      </v-row>
    </v-sheet>
  </v-container>
</template>