<script>
export default {
  name: 'Page',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
    sidebarLeft: true,
    bottom: true,
    hero: true,
    top: true,
  }),

  computed: {
    sidebarBinding() {
      return {
        cols: 12,
        md: 3,
      };
    },

    mainColumnBinding() {
      if (this.sidebarLeft && this.sidebarRight) {
        // if (this.sidebarLeft) {
        return {
          cols: 12,
          md: 6,
        };
      }
      if (this.sidebarLeft || this.sidebarRight) {
        // if (this.sidebarLeft) {
        return {
          cols: 12,
          md: 9,
        };
      }
      return {
        cols: 12,
      };
    },
  },

  methods: {
    toggleLayoutRegions(region) {
      this[region] = !this[region];
    },
  },
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Page
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/grids/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="warning"
      icon="fa fa-exclamation-triangle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Warning. Do not use. This component is still pending clearance.
        </h3>
      </div>
    </v-alert>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <li>
          <code>Pagelayout</code> will be a generic layout that be default can support optional regions hero, top of page,
          side left bar, and bottom of page with a required main region.
        </li>
        <li>
          If a consumer requires more than the provided left side bar and main,
          then the layout can be used with just the main region which will accept any custom grid/column layouts.
        </li>
        <li>
          The <code>Pagelayout</code> regions are each default slots and will dynamically change depending on which slots are used.
        </li>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="pa-8"
    >
      <v-row justify="center">
        <v-btn
          class="mx-2"
          depressed
          color="primary"
          @click="toggleLayoutRegions('hero')"
        >
          Hero toggle
        </v-btn>
        <v-btn
          class="mx-2"
          depressed
          color="primary"
          @click="toggleLayoutRegions('sidebarLeft')"
        >
          Left side bar toggle
        </v-btn>
        <v-btn
          class="mx-2"
          depressed
          color="primary"
          @click="toggleLayoutRegions('top')"
        >
          top toggle
        </v-btn>
        <v-btn
          class="mx-2"
          depressed
          color="primary"
          @click="toggleLayoutRegions('bottom')"
        >
          bottom toggle
        </v-btn>
      </v-row>
    </v-sheet>
    <v-sheet
      color="gray lighten-3"
      class="my-6"
      rounded
    >
      <v-container
        justify="center"
        class="page col-12"
      >
        <v-row
          v-if="hero"
          class="page__hero"
          justify="center"
          align-content="center"
          align="center"
        >
          <v-col align-self="center">
            <slot name="hero">
              <v-card
                outlined
                tile
                class="col-12"
              >
                <img
                  src="@/assets/logo.jpg"
                  alt="logo"
                  class="logo mb-8 mx-auto"
                >
                <h3 class="text-3">
                  Default Hero
                </h3>
              </v-card>
            </slot>
          </v-col>
        </v-row>
        <v-row
          v-if="top"
          class="page__top"
        >
          <v-col>
            <slot name="top">
              <v-card
                tile
                outlined
                class="col-12"
              >
                Default top of page slot
                <h4 class="text4">
                  This is col-12
                </h4>
              </v-card>
            </slot>
          </v-col>
        </v-row>
        <v-row class="page__main">
          <v-col
            v-if="sidebarLeft"
            class="page__sidebar page__sidebar--left"
            v-bind="{...sidebarBinding}"
          >
            <slot name="sidebarLeft">
              <v-card
                outlined
                tile
                class="col-12"
              >
                <h4 class="text4">
                  This is {{ sidebarBinding }}
                </h4>
                Default left sidebar Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Mollitia delectus esse assumenda.
                Praesentium non officia vel quisquam et adipisci, perspiciatis sed eius excepturi?
                Accusamus fuga officiis minima deserunt. Veritatis, hic.
              </v-card>
            </slot>
          </v-col>
          <v-col
            class="page__main-col"
            v-bind="{...mainColumnBinding}"
          >
            <v-card
              outlined
              tile
              class="col-12"
            >
              <h3 class="text-h3">
                Main
              </h3>
              <h4 class="text4">
                This is {{ mainColumnBinding }}
              </h4>
              Main Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Mollitia delectus esse assumenda.
              Praesentium non officia vel quisquam et adipisci, perspiciatis sed eius excepturi?
              Accusamus fuga officiis minima deserunt. Veritatis, hic.
            </v-card>
          </v-col>
          <v-col
            v-if="sidebarRight"
            class="page__sidebar page__sidebar--left"
            v-bind="{...sidebarBinding}"
          >
            <slot name="sidebarLeft">
              <v-card
                outlined
                tile
                class="col-12"
              >
                Default left sidebar Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Mollitia delectus esse assumenda.
                Praesentium non officia vel quisquam et adipisci, perspiciatis sed eius excepturi?
                Accusamus fuga officiis minima deserunt. Veritatis, hic.
              </v-card>
            </slot>
          </v-col>
        </v-row>
        <v-row
          v-if="bottom"
          class="page__bottom"
        >
          <v-col>
            <slot name="bottom">
              <v-card
                tile
                outlined
                class="col-12"
              >
                default bottom
                <h4 class="text4">
                  This is col-12
                </h4>
              </v-card>
            </slot>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </v-container>
</template>