<template>
  <v-container>
    <h1 class="text-h1">
      Resources
    </h1>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <router-link
              to="/glossary"
            >
              Glossary
            </router-link>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <a
              href="https://forms.gle/v79o4kTqbGGs4dkQ9"
              target="_blank"
            >Intake form</a>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <a
              href="https://docs.google.com/spreadsheets/d/1XZUBvWqofWZqlN3Fo7dcY6GrfEDEty_SxIDWSlciHnU/edit?usp=sharing"
              target="_blank"
            >In-flight UI</a>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <a
              href="https://docs.google.com/document/d/1fmJHGOApYoE9wu5tD1cZMtYwnPZ6Q7I7K6XM1lIM9rc/edit?usp=sharing"
              target="_blank"
            >Project Charter</a>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <a
              href="https://drive.google.com/drive/folders/17CbLkg8Z7UK_471uGbdVPH7xJHE2WoGe?usp=sharing"
              target="_blank"
            >Shared Docs & Slides</a>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <a
              href="https://app.mural.co/t/zoroxd7379/m/zoroxd7379/1608139669691/e49647c1ac66330bbcda7a8b635b2c62302f4fa8"
              target="_blank"
            >Phases Mural</a>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>fa fa-star</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            <a
              href="https://zorotools.atlassian.net/secure/RapidBoard.jspa?rapidView=397&projectKey=SLCT&search=vuetify"
              target="_blank"
            >Jira Board</a>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-sheet>
    <div />
  </v-container>
</template>
