<script>
export default {
  name: 'SkeletonLoader',

  data: () => ({
    disabled: true,
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Skeleton Loader
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/skeleton-loaders/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>We use the Vuetify defaults for Skeletons</li>
          <li>
            When using the skeleton loader, don’t apply it to every little atom OR to the entire swath of the template.
            Apply it to the organism so that the user can generally get a hint of the content they can expect on the page.
          </li>
          <li>
            For atoms and their loading state, reference the last <code>input</code> for email in the example below.
          </li>
          <li>Vuetify uses a percentage of black so contrast will be maintained no matter the background it is on. This is why we do not change it's color.</li>
          <li>Use Skeletons for initial page load content. Defer component loading states when components request new data.</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
    >
      <v-card class="pa-4 mb-4">
        <v-skeleton-loader
          class="my-2"
          type="image"
          min-width="100%"
          height="56"
        />
        <v-skeleton-loader
          class="my-2"
          type="image"
          min-width="100%"
          height="56"
        />
        <v-skeleton-loader
          class="my-2"
          type="image"
          min-width="100%"
          height="56"
        />
        <v-skeleton-loader
          class="my-2"
          type="image@4"
          min-width="100%"
          height="56"
        />
      </v-card>
      <v-card class="pa-4">
        <form>
          <v-text-field
            label="first name"
            outlined
            background-color="white"
          />
          <v-text-field
            label="last name"
            outlined
            background-color="white"
          />
          <v-text-field
            :loading="disabled"
            label="E-mail"
            required
            outlined
            background-color="white"
          />
        </form>
      </v-card>
    </v-sheet>

    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
    >
      <v-skeleton-loader
        class="mx-auto"
        max-width="300"
        type="card"
      />
    </v-sheet>
  </v-container>
</template>