<script>
export default {
  name: 'Spacing',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Spacing
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/styles/spacing/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>
            We align breakpoints to ZCL/Bulma/Bootstrap so regardless of framework every component will respect the same responsive breakpoint.
          </li>
          <li>
            Spacing should follow the spacing utilities provided by Vuetify. Designs follow the "rule of 4s" in that spacing values are divisible by 4
          </li>
          <li>
            VContainer is always 100% until the XL breakpoint. Container padding is set using spacing <pre>px-md-6 px-lg-8</pre>aler
          </li>
        </div>
      </div>
    </v-alert>

    <code class="d-block my-6">
      <pre>
        $grid-breakpoints: (
          xs: 0,
          sm: 768px,
          md: 992px,
          lg: 1200px,
          xl: 1440px,
        );
      </pre>
    </code>
    <code class="d-block my-6">
      <pre>
        $container-max-widths: (
          xs: 100%,
          sm: 100%,
          md: 100%,
          lg: 100%,
          xl: 1440px,
        );
      </pre>
    </code>
  </v-container>
</template>