<template>
  <v-container class="about">
    <h1 class="text-h1 pb-2">
      Foundational Project Status
    </h1>
    <v-sheet
      color="white"
      elevation="2"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th
              class="text-left"
              colspan="4"
            >
              &nbsp;
            </th>
            <th
              class="text-left blue-20"
              colspan="3"
            >
              Sprint 3 activities
            </th>
          </tr>
          <tr>
            <th class="text-left">
              Timeline
            </th>
            <th class="text-left">
              Component
            </th>
            <th class="text-left">
              Design Specs
            </th>
            <th class="text-left">
              Development
            </th>
            <th class="text-left blue-20">
              Dev Documentation
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td
              valign="top"
              rowspan="7"
              class="py-4"
            >
              Sprint 0<br>
              February 3 - 16
            </td>
          </tr>
          <tr>
            <td>Elevation</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Color Palette</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Icon</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Globals</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Spacing / Grid / Layout</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Button</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td
              valign="top"
              rowspan="7"
              class="py-4"
            >
              Sprint 1<br>
              February 17 - March 2
            </td>
          </tr>
          <tr>
            <td>Typography</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Forms and Inputs</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Chips</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Date Picker</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Page Layout</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Alerts</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td
              valign="top"
              rowspan="6"
              class="py-4"
            >
              Sprint 2<br>
              March 3 - 16
            </td>
          </tr>
          <tr>
            <td>Drawer Navigation</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Expansion Panel</td>
            <td>
              <v-chip
                label
                color="success"
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Skeleton Loader</td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Card</td>
            <td>
              <v-chip
                label
                color="success"
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Dialog</td>
            <td>
              <v-chip
                label
                color="success"
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td class="blue-20">
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td
              valign="top"
              rowspan="4"
              class="py-4"
            >
              Sprint 3<br>
              March 17 - 30
            </td>
          </tr>
          <tr>
            <td>
              Governance Plan
            </td>
            <td
              class="text-left"
              colspan="5"
            >
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Developer Docs</td>
            <td
              class="text-left"
              colspan="5"
            >
              <v-chip
                label
                color="success"
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td>Repo Implementation</td>
            <td
              class="text-left"
              colspan="5"
            >
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
          <tr>
            <td
              valign="top"
              rowspan="3"
              class="py-4"
            >
              Bonus Components!
            </td>
          </tr>
          <tr>
            <td>
              Breadcrumbs
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
            <td>
              <v-chip
                color="success"
                label
              >
                Done
              </v-chip>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </v-sheet>
    <v-sheet
      class="pa-4 mt-4"
      color="white"
      elevation="2"
    >
      <h2>Backlog</h2>
      <ul>
        <li>
          Facets Checkboxes - do they need to be different from basic component checkboxes?
        </li>
        <li>
          Alerts that disappear after a certain amount of time
        </li>
        <li>
          Can callouts perhaps be a type of card?
        </li>
        <li>
          Breadcrumbs that truncate for long taxonomy pages
        </li>
      </ul>
    </v-sheet>
  </v-container>
</template>
