<script>
export default {
  name: 'Tooltip',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Tooltip
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/components/tooltip/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>
            Testing
          </li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <div
        class="test-btn"
      >
        <v-tooltip
          bottom
          open-on-focus
          attach=".test-btn"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              v-bind="attrs"
              aria-describedby="tp1"
              v-on="on"
            >
              Button
            </v-btn>
          </template>
          <div
            id="tp1"
            aria-live="polite"
            role="tooltip"
          >
            Tooltip
          </div>
        </v-tooltip>
      </div>
    </v-sheet>
  </v-container>
</template>

<style>
.test-button {
  position: relative;
}
</style>

