<script>
export default {
  name: 'Typography',

  data: () => ({
    items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
      },
      {
        text: 'Components',
        disabled: false,
        to: '/components',
      },
    ],
  }),
};
</script>

<template>
  <v-container>
    <v-breadcrumbs
      :items="items"
      class="pl-0"
    />
    <h1 class="text-h1">
      Typography
    </h1>
    <div class="pb-4">
      <a
        href="https://vuetifyjs.com/en/styles/text-and-typography/"
        target="_blank"
        class="body-2"
      >See Vuetify Docs</a>
    </div>
    <v-alert
      border="left"
      outlined
      color="primary"
      icon="fa fa-info-circle"
    >
      <div class="black--text">
        <h3 class="text-h3 pb-2">
          Key takeaways
        </h3>
        <div>
          <li>Our typography differs from Vuetify defaults. See the overrides below.</li>
          <li>Use the text sizing utilities classes e.g. <code>.text-h1</code></li>
          <li>Zoro subheads are not equal to Vuetify subtitles. Use the font-weight utilities to change any header font-weight to normal to make it a subhead.</li>
          <li>Responsive Typography is done via breakpoint classes</li>
        </div>
      </div>
    </v-alert>
    <v-sheet
      color="gray lighten-3"
      class="my-6 pa-6"
      rounded
    >
      <h1 class="text-h1">
        I'm a H1.
      </h1>
      <code class="d-block mb-4">
        <pre>
          'h1': (
            size: 2.25rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <h1 class="text-h1 font-weight-regular">
        I'm a H1 Subhead.
      </h1>
      <code class="d-block mb-4">
        <pre>
          &lt;h1 class="text-h1 font-weight-regular">
            I'm a H1 Subhead.
          &lt;/h1>
        </pre>
      </code>

      <h2 class="text-h2">
        I'm a H2.
      </h2>

      <code class="d-block mb-4">
        <pre>
          'h2': (
            size: 1.75rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <h1 class="text-h2 font-weight-regular">
        I'm a H2 Subhead.
      </h1>
      <code class="d-block mb-4">
        <pre>
          &lt;h2 class="text-h2 font-weight-regular">
            I'm a H1 Subhead.
          &lt;/h1>
        </pre>
      </code>

      <h3 class="text-h3">
        I'm a H3.
      </h3>

      <code class="d-block mb-4">
        <pre>
          'h3': (
            size: 1.25rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <h4 class="text-h4">
        I'm a H4.
      </h4>

      <code class="d-block mb-4">
        <pre>
          'h4': (
            size: 1.125rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <h5 class="text-h5">
        I'm a H5.
      </h5>

      <code class="d-block mb-4">
        <pre>
          'h5': (
            size: 1rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <h6 class="text-h6">
        I'm a H6.
      </h6>

      <code class="d-block mb-4">
        <pre>
          'h6': (
            size: .875rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <div class="text-subtitle-1">
        I'm a Subtitle 1.
      </div>

      <code class="d-block mb-4">
        <pre>
          'subtitle-1': (
            size: 1rem,
            weight: 400,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <div class="text-subtitle-2">
        I'm a Subtitle 2.
      </div>

      <code class="d-block mb-4">
        <pre>
          'subtitle-2': (
            size:  .875rem,
            weight: 400,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <div class="text-body-1">
        I am Body 1
      </div>

      <code class="d-block mb-4">
        <pre>
          'body-1': (
              size: 1rem,
              line-height: 1.375,
              letter-spacing: 0,
            ),
        </pre>
      </code>

      <div class="text-body-2">
        I am Body 2
      </div>

      <code class="d-block mb-4">
        <pre>
          'body-2': (
            size: .875rem,
            line-height: 1.375,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <div class="text-caption">
        I am Caption
      </div>

      <code class="d-block mb-4">
        <pre>
          'caption': (
            size: .75rem,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>

      <div class="text-overline">
        I am Overline
      </div>

      <code class="d-block mb-4">
        <pre>
          'overline': (
            size: .875rem,
            weight: 700,
            line-height: 1.2,
            letter-spacing: 0,
          ),
        </pre>
      </code>
    </v-sheet>
  </v-container>
</template>