<script>
import { depressed } from '@/v-configs/buttons';

export default {
  name: 'App',

  data: () => ({
    auth: false,
    depressed,
    password: '',
    drawer: false,
    badPassword: false,
    nav: [
      {
        label: 'Components',
        to: '/components',
      },
      {
        label: 'Resources',
        to: '/resources',
      },
      {
        label: 'Status',
        to: '/status',
      },
      {
        label: 'Blog',
        to: '/blog',
      },
    ],
  }),
};
</script>

<template>
  <v-app id="app">
    <v-app-bar
      app
      flat
      color="ui primary"
      dark
      class="header"
    >
      <v-toolbar-title>
        <router-link
          to="/"
        >
          Zoro Vuetify Docs
        </router-link>
      </v-toolbar-title>
      <v-spacer />

      <router-link
        v-for="(link, idx) in nav"
        :key="idx"
        :to="link.to"
        class="px-2 white--text"
      >
        {{ link.label }}
      </router-link>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
    <v-footer
      app
      padless
    >
      <v-card
        flat
        tile
        color="ui primary"
        class="white--text text-center"
        width="100%"
      >
        <v-card-text class="white--text">
          Made with ❤️ by the Vuetify Council
        </v-card-text>

        <v-divider />

        <v-card-text class="white--text">
          &copy; {{ new Date().getFullYear() }} — <strong>Zoro Tools, Inc</strong>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<style lang="scss">
.v-application {
  .header {
    a {
      color: #fff;
      text-decoration: none;
      &:hover,
      &.router-link-exact-active {
        text-decoration: underline;
      }
    }
  }

  .v-alert--outlined {
    background: #fff !important;
  }
  .v-btn--outlined {
    background: #fff;
  }
  .v-chip {
    &.v-size--default {
      height: auto;
    }
    min-height: 2.1875rem;
  }
}
</style>
